.taskbar {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: -1.75rem;
}

.taskbar input {
  height: 3.375rem;
  width: 100%;
  border: 1px black solid;
  background: var(--gray-500);
  color: var(--gray-300);
  padding: 1rem;
  border-radius: 0.5rem;
  outline: transparent;
}

.taskbar input:focus {
  color: var(--gray-100);
}

.taskbar button {
  border: none;
  outline: transparent;
  height: 3.375rem;
  padding: 1rem;
  background: var(--blue-dark);
  line-height: 0;
  color: var(--gray-100);
  border-radius: 0.5rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
